<!DOCTYPE html>
<html lang="pt-br">
   <head>
      {% include "sarg/include/header.html" %}
      <title>Projetos</title>
   </head>
   <body class="nav-md" style="background-color: white">
      <div class="x_panel">
		<div class="x_title"  style="border-bottom-color:black;">
			<p style="font-size: 60px; color: black;" >PAINEL DE PROJETOS<span style="font-size: 40px; color: black;"> &Uacuteltima atualiza&ccedil;&atilde;o: {{data}}</span></p>				
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div id="container" style="width: auto; height: 800px; margin: 0 auto">
						<table class="table table-striped projects" cellspacing="0" width="100%" style="font-size: 30pt;">
							<thead>
								<tr>
									<th style="width: 20%; color: black; border-color: black; text-align: center;">CLIENTE</th>
									<th style="text-align:left; padding-left: 30px; color: black; border-color: black;">PROJETO</th>
									<th style="text-align:left; padding-left: 30px; color: black; border-color: black;">I.C</th>
									<th style="text-align:left; padding-left: 30px;color: black; border-color: black;">GP</th>
									<th style="text-align:left; padding-left: 30px; color: black; border-color: black;">PROGRESSO</th>
									<th style="text-align:center; color: black; border-color: black;">STATUS</th>
								</tr>
							</thead>
							<tbody>
								{% for value in Projects %}
								{% if value.status != '5' %}
								{% if forloop.counter > 10 and forloop.counter <= 15 %}
								<tr>
									<td style="width:100px; height:100px; text-align:center; vertical-align:middle; color: black; border-color: black;">
										<div class="logotipotv" style="background:url(/media/{{ value.cliente.logo }})"></div>
									</td>
									<td style="text-align:left; vertical-align:middle; padding-left: 30px; color: black; border-color: black;">
										{{ value.projeto }}
									<!--  <small>Data incio: {{ value.data_inicio }}</small> -->
									</td>
									<td style="text-align:center; vertical-align:middle; padding-left: 30px; color: black; border-color: black;">
										{{ value.item_contabil.cod_item_contabil }}
									<!--  <small>Data incio: {{ value.data_inicio }}</small> -->
									</td>
									<td style="text-align:left; vertical-align:middle; padding-left: 30px;  color: black; border-color: black;">
										{{ value.gp }}
									<!--  <small>Data incio: {{ value.data_inicio }}</small> -->
									</td>	
									<td style="text-align:left; vertical-align:middle; padding-left: 30px; color: black; border-color: black;" class="project_progress">
										<div class="progress progress_sm" style="text-align:left; vertical-align:middle">
											<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ value.percent_conclusao }}"></div>
										</div>
										<small>{{ value.percent_conclusao }} Completo</small>
									</td>
									<td style="text-align:center; vertical-align:middle; border-color: black;">
										{% if value.status == '1' %}
										<span class="count green" style="font-size: 80px;"><i class="fa fa-check-circle" style="color: #1ABB9C;"></i></span>
										{% elif value.status == '2' %}
										<span class="count blue" style="font-size: 80px;"><i class="fa fa-exclamation-circle" style="color: gold;"></i></span>
										{% elif value.status == '3' %}
										<span style="font-size: 80px; color: gold"><i class="fa fa-times-circle" style="color: red;"></i></span>							
										{% elif value.status == '4' %}
										<span style="font-size: 80px; color: gold"><i class="fa fa-pause-circle" style="color: gray;"></i></span>
										{% endif %}
									</td>
								</tr>
								{% endif %}
								{% endif %}
								{% endfor %}
							</tbody>
						</table>					 
						</div>
					</div>
				</div>
			</div>
		</div>


   </div>	

   <div class="row">
      <div class="col-xs-12 tile_count" style="margin:0 !important; font-size: 45px; text-align: center; line-height: 100% !important; padding:2px !important; position: fixed !important; bottom: 0 !important;"> 
         <div class="col-xs-12 col-sm-3 tile_stats_count">
            <span class="count" style="font-size: 50px">
               <i class="fa fa-check-circle" style="color: #1ABB9C;"></i> 
            </span>
            <span style="font-size: 45px; color: black;"> 
               No Prazo
            </span>
         </div>

         <div class="col-xs-12 col-sm-3 tile_stats_count">
            <span class="count" style="font-size: 50px">
               <i class="fa fa-exclamation-circle" style="color: gold;"></i>
            </span>
            <span style="font-size: 45px; color: black;"> 
               Aten&ccedil;&atilde;o
            </span>
         </div>
      
         <div class="col-xs-12 col-sm-3 tile_stats_count">
            <span class="count" style="font-size: 50px">
               <i class="fa fa-times-circle" style="color: red;"></i>
            </span>
            <span style="font-size: 45px; color: black;"> 
               Data Perdida
            </span>
         </div>

         <div class="col-xs-12 col-sm-3 tile_stats_count">
            <span class="count" style="font-size: 50px">
               <i class="fa fa-pause-circle" style="color: gray;"></i>
            </span>
            <span style="font-size: 45px; color: black;"> 
               Pausado
            </span>
         </div>					

      </div>
   </div>

      <!-- /page content -->
      <!-- scripts content -->
      {% include "sarg/include/scripts.html" %}
      <!-- /scripts content -->
   </body>
</html>