<!DOCTYPE html>
<html lang="pt-br">
   <head>
      {% include "sarg/include//header.html" %}
      <title>BUGs | SARG | Sistema de Análise e Relatórios de Gestão</title>
   </head>
   <body class="nav-md">
      <div class="container body">
         <div class="main_container">
            {% include "sarg/include/left.html" %}
         </div>
      </div>
      <!-- top navigation -->
      {% include "sarg/include/top_navegation.html" %}
      <!-- /top navigation -->
      <!-- page content -->
      <div class="right_col" role="main">
         <div class="row">
            <div class="col-xs-12 col-sm-6">
               <h1>Painel de BUGs</h1>
            </div>
            <div class="col-xs-12 col-sm-6" style="text-align: right;">
               <h6>Última atualização: {{data}}hrs</h6>
               <h6>Fonte: Dynamics CRM</h6>
            </div>
         </div>
         <!-- top tiles -->
         <div class="row tile_count">
            <div class="col-sm-4 col-xs-6 tile_stats_count">
               <span class="count_top">Total nos Últimos 6 Meses</span>
               <div class="count"><i class="fa fa-bug"></i> {{TOTAL_FALHAS_NOS_ULTIMOS_6_MESES}}</div>
            </div>
            <div class="col-sm-4 col-xs-6 tile_stats_count">
               <span class="count_top" style="color:#d9534f">Total em Aberto</span>
               <div class="count"><i class="fa fa-bug" style="color:#d9534f"></i> <font color="#d9534f">{{TOTAL_FALHAS_EM_ABERTO}}</font></div>
            </div>
         </div>
         <!-- /top tiles -->
         <div class="row">
            <div class="col-xs-12">
               <div class="x_panel">
                  <div class="x_title">
                     <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="detalhe_falhas" role="dialog">
               <div class="modal-dialog modal-lg" style="width: 85%;">
                  <!-- Modal content-->
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalhamento <span id="tipoFalhaTitulo"></span></h4>
                     </div>
                     <div class="modal-body">
                        <p>Some text in the modal.</p>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xs-12">
               <div class="x_panel">
                  <div class="x_title">
                     <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                     </ul>
                     <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /page content -->
      <!-- footer content -->
      {% include "sarg/include//footer.html" %}
      <!-- /footer content -->
      <!-- scripts content -->
      {% include "sarg/include/scripts.html" %}
 
	  <script>
         Highcharts.chart('container1', {
             chart: {
                 type: 'line'
             },
             title: {
                 text: 'Resolvidos - \u00daltimos 6 Meses'
             },
             subtitle: {
                 text: ''
             },
             xAxis: {
                 categories: [{% for VALUE in FALHAS_ENCERRADAS_NOS_ULTIMOS_6_MESES %}'{{VALUE.ANO_MES}}',{% endfor %}],
                 labels: {
                     rotation: -30,
                 },
                 title: {
                     text: ''
                 }				 
             },
             yAxis: {
                 title: {
                     text: ''
                 }
             },
             legend: {
                 enabled: false
             },			 
             plotOptions: {
                 line: {
                     dataLabels: {
                         enabled: true
                     },
                     enableMouseTracking: false
                 }
             },
             series: [{
                 name: '',
         		color: '#1ABB9C',
                 data: [{% for VALUE in FALHAS_ENCERRADAS_NOS_ULTIMOS_6_MESES %}{{VALUE.QUANTIDADE}},{% endfor %}], 
             }]
         });
         
      </script>
	  
      <script>
         Highcharts.chart('container', {
            chart: {
               type: 'column'
            },
            title: {
               text: 'Em Aberto'
            },
			subtitle: {
                 text: ''
             },
            xAxis: {
               categories: [{% for VALUE in FALHAS_EM_ABERTO %}'{{VALUE.tipo_servico}}',{% endfor %}]
            },
            yAxis: [{
               min: 0,
               title: {
                  text: ''
               },
               stackLabels: {
                  enabled: true,
                  style: {
                     fontWeight: 'bold',
                     fontSize: '11px',
                     color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                  }
               }
            },{
               title: {
                  text: '',
               },
               opposite: true
            }],
            legend: {
               /*
               align: 'right',
               x: -30,
               verticalAlign: 'top',
               y: 25,
               floating: true,
               */
               align: 'center',
               verticalAlign: 'top',
               floating: false,
               backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
               borderColor: '#CCC',
               borderWidth: 1,
               shadow: false
            },
            tooltip: {
               headerFormat: '<b>{point.x}</b><br/>',
               pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            },
            plotOptions: {
               column: {
                  stacking: 'normal',
                  dataLabels: {
                     formatter:function() {
                        if(this.y != 0) {
                           return this.y;
                        }
                     },
                     allowOverlap: false,
                     enabled: true,
                     color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                  }
               }
            },	 
            plotOptions: {
               series: {
                  cursor: 'pointer',
                  point: {
                     events: {
                        click: function (e) {
                           if (this.series.index == 2) { e.preventDefault(); return false; }
                           $('#tipoFalhaTitulo').html('de falhas ' + this.series.name.toLowerCase());
                           $('#detalhe_falhas .modal-body').load('falhas_detalhamento.html?tipo_servico='+encodeURI(this.category.toUpperCase()),function(){
                              $('#detalhe_falhas').modal({show:true}, function(){return false});
                           });
                        }
                     }
                  }
               },		 
               column: {
                  stacking: 'normal',
                  dataLabels: {
                     formatter:function() {
                        if(this.y != 0) {
                           return this.y;
                        }
                     },
                     allowOverlap: false,
                     enabled: true,
                     color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                  }
               }
            },			 
            series: [{
               name: 'Quantidade de Bugs', 
				color: '#1ABB9C',
               data: [{% for VALUE in FALHAS_EM_ABERTO %}{{VALUE.total}},{% endfor %}],		   
               stack: 0
            },]
         });
      </script>	  
      <!-- /scripts content -->
   </body>
</html>
