<!-- top navigation -->
<!-- /top navigation -->
<!-- page content -->
<div class="row" role="main">
   <!-- top tiles -->
   <!-- /top tiles -->
   <div class="col-xs-12">
      <div class="x_panel">
         <div class="x_content">
            <!-- start project list -->
            <div class="row">
               <div class="col-xs-12">
                  <table id="detalhamento_falhas" class="table responsive table-striped projects">
                     <thead>
                        <tr>
                           <th style="width: 16%">Numero Ocorrencia</th>
                           <th>Título</th>
                           <th>Grupo de Suporte</th>
                           <th>Tipo Serviço</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in detalhe_falhas %}
                        <tr>
                           <td>
                              {{ i.numero_ocorrencia }} 									
                           </td>
                           <td>
                              {{ i.titulo }} 									
                           </td>
                           <td>
                              {{ i.grupo_suporte}} 									
                           </td>
                           <td>
                              {{ i.tipo_servico}} 									
                           </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- end project list -->
         </div>
      </div>
   </div>
</div>
<!-- scripts content -->
{% include "sarg/include/scripts_modais.html" %}
<!--/scripts content -->        
<script>
     $(document).ready(function(){
  //    $('#datatable-responsive').DataTable();
      $('input, select').css({'padding': '2px'});
     });
</script>