<button type="button" data-toggle="modal" data-target="#myModal" style="margin-bottom: 10px;" class="btn btn-default text-uppercase">Telefones para suporte</button>
<div id="myModal" tabeindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
   
    <div class="modal-content">
      
      <div class="modal-header">
        <h4>TELEFONES PARA SUPORTE</h4>
      </div>
   
      <div class="modal-body">
        <table class="table table-bordered">
          
          <thead>
            <tr>
              <th>PORTABILIDADE</th>
              <th>CONTIGÊNCIA</th>
              <th>PGMC</th>
              <th>CADUP / GCC</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>(11) 3576-4580</td>
              <td>(11) 2395-4580</td>
              <td> 
                <p>(11) 4005-1410 </p>
                <p>(11) 3576-450</p>
                <p>0800-941-1410 </p>
              </td>
              <td>(11) 3576-4585</td>
            </tr>
          </tbody>
          <tfooter> 
            <td colspan="4" class="text-danger">*não divulgado as prestradoras</td>
          </tfooter>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">FECHAR</button>
      </div>
    </div>
  </div>
</div>