    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/vendors/nprogress/nprogress.js"></script>
	<!-- ECharts -->
	<script src="/static/vendors/echarts/dist/echarts.min.js"></script>	
    <!-- Chart.js -->
    <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/vendors/moment/min/moment.min.js"></script>
    <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/build/js/custom.js"></script>
    	
	<!-- highcharts 
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>	-->
	<script src="/static/vendors/highcharts/highcharts.js"></script>
	<script src="/static/vendors/highcharts/exporting.js"></script>	
	
	 <script type="text/javascript">
      $(document).ready(function(){
         $(document).scroll(function() {
           var y = $(this).scrollTop();
           if (y > 50) {
             $('#topo').fadeIn();
           } else {
             $('#topo').fadeOut();
           }
         });   

         $(document).on('click','#topo', function(e){
            $(window).scrollTop(0);
         });   
         
         $('#tabelaRateio').DataTable({
           "pageLength": 50
         });
		 
		 $('#detalhamento_demandas').DataTable({
           "pageLength": 50
         });		 

         $('#tabelaGMUDs').DataTable({
           "pageLength": 50
         });
         
         $('#tabelaProjetos').DataTable({
            "pageLength": 50
         });
            
         $('#tabelaOportunidades').DataTable({
            "pageLength": 50
         });
         
         $('#tabelaOrcamentosDetail').DataTable({
            "pageLength": 50
         });
            
         $('#tabelaOngoing').DataTable({
              "order": [[ 1, "asc" ]],
              "pageLength": 50,
              "footerCallback": function ( row, data, start, end, display ) {
                  var api = this.api(), data;
       
                  // Remove the formatting to get integer data for summation
                  
                  var intVal = function ( i ) {
                      return typeof i === 'string' ?
                          i.replace(/[\$.]/g, '')*1 :
                          typeof i === 'number' ?
                              i : 0;
                  };
       
                  // Total over this page
                  horaNormalTotal = api
                      .column( 2 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                  hora75Total = api
                      .column( 3 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                  hora100Total = api
                      .column( 4 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                  horaTotal = api
                      .column( 5 )
                      .data()
                      .reduce( function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0 );
                      
                  // Update footer
                  $( api.column( 2 ).footer() ).html(
                      ' ' + horaNormalTotal.toLocaleString('pt-BR')
                  );
                  $( api.column( 3 ).footer() ).html(
                      ' ' + hora75Total.toLocaleString('pt-BR')
                  );
                  $( api.column( 4 ).footer() ).html(
                      ' ' + hora100Total.toLocaleString('pt-BR')
                  );
                  $( api.column( 5 ).footer() ).html(
                      ' ' + horaTotal.toLocaleString('pt-BR')
                  );
				  $('#hora').html(horaTotal.toLocaleString('pt-BR'));
              }
         });
         
      });

      </script>